In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Preguntas

1- Deberían expandirse a Canadá?

2- ¿Cuántos millones de dólares se ganaron o perdieron a partir del programa? Explica tu razonamiento y metodología.
     
+ Pista: Existen dos experimentos naturales. Canadá y las tiendas que se encuentran lejos. Utilízalos.

### Información releventa en el caso: 

+ While retailers such as Amazon operate exclusively online, legacy retail chains have had to build online channels alongside their brick-and-mortar (B&M) operations.

+ Home and Kitchen, a chain with 84 stores in North America, 67 of which are in the United States and 17 in Canada.

+ Introduced its online store in 2007. Online orders ship to anywhere in the United States or Canada from a central warehouse.

+ Since 2007, the company has had two main divisions: online and brick & mortar, each operated as a profit center.

+ After significant growth over the first five years, the company’s online sales had started to stabilize.

**BOPS** aka Buy Online Pickup at Store

+ Customers were now given the option of picking up their purchases at a nearby store within a given time window. In this way, customers could “book” the product online and then pick it up at a nearby store. 

+ This enabled customers to save on shipping fees and take their purchase home the same day. Schwarz felt BOPS would have great appeal.

+ BOPS was operationally complex. It required that the B&M division provide the online division with real-time store availability data for all stores, and the B&M division had to develop new in-store processes to reliably reserve products in a specific store once a transaction had taken place online.

+ BOPS was launched on October 11, 2011. The Canadian operation had been more reluctant to move ahead with BOPS and by the October launch date its information systems were still not ready to provide real-time inventory status. As a result, the BOPS initiative was only launched in the United States.

**Sales Results**

+ Since the introduction of BOPS sales had declined significantly in both the online and B&M channels.

### Diccionario online sales
+ id (DMA): Designated Market Area (DMA) identification code
+ year: Year
+ month: Month number (January =1)
+ week: Week number (first week of the year = 1)
+ after: Equal to 1 if week is after introduction of BOPS; 0 otherwise
+ close: Equal to 1 if week is DMA is within 50 miles of a store; 0 otherwise

+  sales 	Total online sales for the week for the DMA in dollars

In [23]:
online = pd.read_csv('bops_online.csv', thousands=',')
online.head()

,id (DMA),year,month,week,after,close,sales,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1,2011,4,17,0,1,18564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2011,4,18,0,1,30883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2011,5,19,0,1,37425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2011,5,20,0,1,32563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2011,5,21,0,1,35773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
online = online[['id (DMA)', 'year', 'month', 'week', 'after', 'close', ' sales ']]

In [25]:
online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10710 entries, 0 to 10709
Data columns (total 7 columns):
id (DMA)    10710 non-null int64
year        10710 non-null int64
month       10710 non-null int64
week        10710 non-null int64
after       10710 non-null int64
close       10710 non-null int64
 sales      10710 non-null int64
dtypes: int64(7)
memory usage: 585.8 KB

In [33]:
online.columns = ['id_dma', 'year', 'month', 'week', 'after', 'close', 'sales']
online.head()

   id_dma  year  month  week  after  close  sales
0       1  2011      4    17      0      1  18564
1       1  2011      4    18      0      1  30883
2       1  2011      5    19      0      1  37425
3       1  2011      5    20      0      1  32563
4       1  2011      5    21      0      1  35773

The **online sales are disaggregated by the geographical region** from which the website customer originated.

Toward this end, North America was divided into 210 Designated Market Areas (DMAs). A standard geographical unit in marketing, a DMA is a region of the country in which radio and television stations in the major city of the area are seen in homes and households as defined
by Nielsen Media research. 


**B&M sales are disaggregated by store**

### Diccionario b&m sales

+ id (store): Store identification code
+ year: Year
+ month: Month (January = 1)
+ week: Week (first week of the year = 1)
+ usa: Equal to 1 if store is in the USA; 0 if it is a Canadian store
+ after: Equal to 1 if week is after introduction of BOPS; 0 otherwise
+ sales: Total B&M sales for the week for the store

In [29]:
b_m = pd.read_csv('bops_bm.csv', thousands=',')
b_m.head()

,id (store),year,month,week,usa,after,sales,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1.0,2011.0,4.0,16.0,0.0,0.0,118691.0,NaN,NaN,NaN,NaN
1,1.0,2011.0,4.0,17.0,0.0,0.0,113804.0,NaN,NaN,NaN,NaN
2,1.0,2011.0,4.0,18.0,0.0,0.0,172104.0,NaN,NaN,NaN,NaN
3,1.0,2011.0,5.0,19.0,0.0,0.0,105591.0,NaN,NaN,NaN,NaN
4,1.0,2011.0,5.0,20.0,0.0,0.0,94884.0,NaN,NaN,NaN,NaN

In [30]:
b_m.columns

Index(['id (store)', 'year', 'month', 'week', 'usa', 'after', ' sales ',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [31]:
b_m = b_m[['id (store)', 'year', 'month', 'week', 'usa', 'after', ' sales ']]
b_m.columns

Index(['id (store)', 'year', 'month', 'week', 'usa', 'after', ' sales '], dtype='object')

In [32]:
b_m.columns = ['id_store', 'year', 'month', 'week', 'usa', 'after', 'sales']
b_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538 entries, 0 to 4537
Data columns (total 7 columns):
id_store    4536 non-null float64
year        4536 non-null float64
month       4536 non-null float64
week        4536 non-null float64
usa         4536 non-null float64
after       4536 non-null float64
sales       4536 non-null float64
dtypes: float64(7)
memory usage: 248.2 KB